@font-face {
  font-family: 'popolo_lt';
  src:
    url('../fonts/popolo-lt-webfont.woff2') format('woff2'),
    url('../fonts/popolo-lt-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

$popolo-blue: #3e3eff;
$popolo-black: #1e1e1e;
$popolo-bg: #faf8f8;

$popolo-pink: #ff3e56;
$popolo-green: #21a42f;
$popolo-violet: #ce39ed;
$popolo-yellow: #cdc500;

$font-size-large: 1.4em;
$line-height-large: 1.45em;
$font-size-small: 0.4em;
$line-height-small: 1.4em;

html,
body,
textarea,
input,
button {
  font-family: 'popolo_lt', sans-serif;
  font-size: $font-size-large;
  line-height: $line-height-large;
  color: $popolo-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.hidden {
  display: none;
}

.invisible {
  visibility: hidden;
}

.main {
  animation: fadeIn ease-out 0.6s;
  margin: 2em;

  * {
    &::selection {
      color: white;
    }

    &::-moz-selection {
      color: white;
    }
  }
}

h1 {
  font-size: 1em;
  font-weight: normal;
  font-family: 'popolo_lt', sans-serif;
  transition: color 0.3s ease-out;
  display: inline-block;
  margin: 0;
}

a.cta_button {
  color: $popolo-black;
  transition: color 0.3s ease-out, border-color 0.3s ease-out, padding 0.3s ease-out;
  border: 1px solid transparent;
  border-bottom: 1px solid $popolo-black;
  text-decoration: none;
  padding-bottom: 2px;
  box-sizing: content-box;
  position: relative;

  &:visited {
    color: $popolo-black;
  }

  &:hover {
    border-radius: 2em;
  }

  .btn_hidden {
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    font-size: 0.8em;
  }

  &.button_joy .btn_hidden {
    font-size: 0.5em;
  }

  &.button_calm .btn_hidden {
    font-size: 0.6em;
  }
}

.small_text {
  font-size: $font-size-small;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  line-height: $line-height-small;
  margin-top: 4em;

  .left {
    width: 22em;
  }

  .arrow {
    width: 30px;
    height: auto;
    margin-top: 4px;
    margin-left: 1.8em;
    margin-right: 2em;
  }

  .right {
    width: 40em;
  }
}

ul.team {
  margin: 0;
  padding: 0;
  list-style-type: none;

  li {
    margin-left: 0;
  }
}

.contact-form {
  display: none;
  position: fixed;
  bottom: 0;
  min-height: 6em;
  height: 82vh;
  background-color: $popolo-bg;
  z-index: 999;
  width: 100%;

  .form-wrapper {
    margin: 0.5em 2em;
  }

  .close {
    padding: 1em 0 0 3.2em;
    width: 1.4em;
    height: auto;
  }

  .instructions {
    font-size: $font-size-small;
    padding-left: 3.5em;
    padding-top: 2em;
  }

  textarea {
    border: none;
    height: 22vh;
    resize: none;
    outline: none;
    padding: 0.5em 1em;
    width: calc(100% - 2em);
  }

  .first-row {
    background-color: white;
    width: 100%;
    margin-bottom: 0.4em;
  }

  .second-row {
    background-color: white;
    width: 100%;

    input {
      border: none;
      outline: none;
      font-size: $font-size-small;
      padding: 2em;
      padding-left: 3.5em;
    }

    button {
      padding: 2em;
      font-size: $font-size-small;
      background-color: white;
      outline: none;
      border: none;
      margin: 0;
      float: right;
    }
  }

  .validaton {
    padding: 1em 2em;
    font-size: 0.4em;
    text-align: right;
    color: $popolo-pink;
  }
}

.doppelpunkt {
  display: none;
}

@media only screen and (max-width: 600px) {
  html,
  body {
    font-size: 1.2em;
    line-height: 1.5em;
  }

  br.fluid_br {
    display: none;
  }

  .contact-form {
    top: 0;
    height: 100vh;
    font-size: 1em;

    .close {
      padding: 1em 0 0 2em;
    }

    .validaton {
      font-size: 0.75em;
      line-height: 1.4em;
      padding: 0;
    }

    .form-wrapper {
      margin: 0.5em 1em;
    }

    .first-row {
      padding: 0;
      margin-bottom: 16px;

      .instructions {
        padding: 0 1em;
        background-color: $popolo-bg;
      }
    }

    .or_email {
      display: none;
    }

    .second-row {
      margin-bottom: 0.4em;

      button {
        width: 100%;
        margin-top: 16px;
        padding: 1em;
      }

      input {
        padding: 1em !important;
      }
    }

    textarea {
      padding: 1em;
      width: calc(100% - 2em);
      font-size: 0.75em;
      height: 30vh;
    }
  }

  .small_text,
  .contact-form .instructions,
  .contact-form .second-row button,
  .contact-form .second-row input {
    font-size: 0.75em;
  }

  .contact-form .instructions,
  .contact-form .second-row input {
    padding-left: 1em;
    width: calc(100% - 2em);
  }

  .small_text {
    margin-top: 2em;
    flex-direction: column;

    .left {
      width: 100%;
    }

    .right {
      width: 100%;
    }
  }

  .main {
    margin: 0.8em;
  }
}

//does not work with colors containing alpha
@function encodecolor($string) {
  @if type-of($string) == 'color' {
    $hex: str-slice(ie-hex-str($string), 4);
    $string:unquote("#{$hex}");
  }

  $string: '%23' + $string;

  @return $string;
}

@mixin colorChange($color) {
  $colorEncoded: encodecolor($color);

  cursor: url("data:image/svg+xml;utf8,<svg width='20' height='20' xmlns='http://www.w3.org/2000/svg'><ellipse cx='10' cy='10' rx='10' ry='8' fill='#{$colorEncoded}' /></svg>"), auto;

  a,
  a:visited {
    color: $color;
  }

  a,
  button,
  .close {
    cursor: url('data:image/svg+xml;utf8,<svg width="29" height="28" xmlns="http://www.w3.org/2000/svg"><g stroke="#{$colorEncoded}" stroke-width="4" fill="none" fill-rule="evenodd" stroke-linecap="square"><path d="M1.5 2L26 25M1.5 18.2034v-16.5M19 2H3"/></g></svg>'), auto;
  }

  a.cta_button {
    color: $popolo-black;

    &:visited {
      color: $popolo-black;
    }

    &:hover {
      color: $color;
      border: 1px solid $color !important;
    }
  }

  .main {
    * {
      &::selection {
        background: $color;
      }

      &::-moz-selection {
        background: $color;
      }
    }

    h1 {
      color: $color;
    }
  }

  .contact-form {
    .second-row button {
      color: $color;
    }

    .close g {
      stroke: $color;
    }
  }
}

body.popolo-blue {
  @include colorChange($popolo-blue);
}

body.popolo-yellow {
  @include colorChange($popolo-yellow);
}

body.popolo-green {
  @include colorChange($popolo-green);
}

body.popolo-pink {
  @include colorChange($popolo-pink);
}

body.popolo-violet {
  @include colorChange($popolo-violet);
}
